.baskerville {
	font-family: 'Ubuntu', sans-serif;
}

.small-space-top {
	margin-top: 10%;
}
.nunito{
	font-family: 'Nunito', sans-serif;
}
.nunito-red{
	font-family: 'Nunito', sans-serif;
	color: red;
}
.nunito-green{
	font-family: 'Nunito', sans-serif;
	color: green
}
