{% extends 'layout.html' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1 class="baskerville left">{{title}}</h1> 
        </div>
        <div class="row">
            <p><a href="/newRow/{{id}}" class="baskerville left">Create New Row</a></p>
            <p><a href="/search/{{id}}" class="baskerville right">Search</a></p>
        </div>
        <div class="row">
                <table>
                    <thead>
                        <tr>
                            {% for column in columns %}
                                <th class="baskerville">{{column}}</th>
                            {% endfor %}
                            <th><a class="baskerville" href="/addColumn/{{id}}"><img src="../static/img/baseline-add-24px.svg" alt=""></a>Add Column</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in data %}
                            <tr>
                                {% for key,value in row.items() %}
                                    <td class="baskerville">{{value}}</td>
                                {% endfor %}
                                <td><a href="/editRow/{{id}}/{{row['id']}}" class="baskerville">Edit Row</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
            
    </div>
{% endblock %}