<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Inv4you</title>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nunito|Ubuntu" rel="stylesheet">
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <div class="navbar-fixed ">
            <nav class='teal darken-1'>
                <div class="container">
                    <a href="/" class="brand-logo left nunito">Inv4you</a>
                    {% with messages = get_flashed_messages()  %}
                    {% if messages %}
                        
                        <a href="/register" class="right baskerville">Register</a>
                         
                    {% endif %}  
                    {% endwith %}
                </div>
            </nav>
        </div>
        {% block body %}{% endblock %}
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>