{% extends 'layout.html' %}

{% block body %}
<div class="container valign-wrapper " >
  <div class="row s12" style="padding-top: 10%;" >
    <div class="col s12">
      <form action="/home" method="post">
        <div class="row">
            <div class="input-field col s12">
                <input name="email" id="email" type="email" class="validate baskerville" required maxlength="50">
                <label for="email" class="baskerville">Email</label>
            </div>
            
        </div>
        <div class="row">
            <div class="input-field col s12 ">
              <input name="password" id="password" type="password" class="validate baskerville" required maxlength="50">
              <label for="password" class="baskerville">Password</label>
            </div>
        </div>
        <button class="btn waves-effect waves-light teal darken-1 baskerville" >Login
            <i class="material-icons right ">send</i>
        </button>
        <div class="row small-space-top">
          <p1 class="baskerville right">{{status}}</p1>
        </div> 
      </form>
      
    </div>
  </div>
</div>
{% endblock %}
    
    
