{% extends 'layout.html' %}

{% block body %}

<div class="container valign-wrapper" >
  
  <div class="row s12" style="padding-top: 10%;" >
    <div class="col s12">
      <form action="/register" method="POST">
        <div class="row">
            <p>This web app is a personal project, please do not signup with real emails or passwords that you commontly use. Thanks and Ejoy!</p>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input name="email" id="email" type="email" class="validate baskerville" required maxlength="50">
                <label for="email"class="baskerville" >Email</label>
            </div>
            
        </div>
        <div class="row">
            <div class="input-field col s12">
              <input name="password" id="password" type="password" class="validate baskerville" required maxlength="50">
              <label for="password" class="baskerville">Password</label>
            </div>
        </div>
        <button class="btn waves-effect waves-light teal darken-1 baskerville" >Register
            <i class="material-icons right ">send</i>
        </button>
      </form>
      <p1 class="baskerville s12 "value=>{{stat}}</p1>
    </div>
  </div>
</div>
{% endblock %}